[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
genanki = "*"
click = "*"
pyyaml = "*"
markdown = "*"
pygments = "*"
selectolax = "*"
pymdown-extensions = "*"

[requires]
python_version = "3.8"
